<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administracyjny</title>
    <link rel="stylesheet" href="/css/adminstyles.css">
    <script src="/js/admin_panel.js" defer></script>
</head>

<body>

    <h1>Panel Administracyjny</h1>

    <a href="/" class="top-right-btn-link">
        <button class="top-right-btn">Wyloguj</button>
    </a>
    <h2>Dodaj Kategorię</h2>
    <form id="categoryForm">
        <input type="text" id="categoryName" placeholder="Nazwa kategorii" required>
        <button type="submit">Dodaj Kategorię</button>
    </form>

    <h2>Dodaj Produkt</h2>
    <form id="productForm">
        <input type="text" id="productName" placeholder="Nazwa produktu" required>
        <input type="number" id="productPrice" placeholder="Cena" required>
        <select id="productCategory" required>
        </select>
        <button type="submit">Dodaj Produkt</button>
    </form>


    <h2>Dodaj Nową Promocję</h2>
    <form id="promocja-form">
        <label for="kod">Kod Promocji:</label>
        <input type="text" id="kod" name="kod" required placeholder="Np. PROMO2024"><br><br>

        <label for="znizka">Procent Zniżki:</label>
        <input type="number" id="znizka" name="znizka" min="1" max="100" required placeholder="Np. 20"><br><br>

        <button type="submit">Dodaj Promocję</button>
    </form>
    <h2>Lista Kategorii</h2>
    <table id="categoryTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa Kategorii</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2>Lista Produktów</h2>
    <table id="productTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa Produktu</th>
                <th>Cena</th>
                <th>Kategoria</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2>Lista zamówień</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Zatwierdzenie</th>
            </tr>
        </thead>
        <tbody id="order-list">
        </tbody>
    </table>

    <div id="response-message" style="margin-top: 20px; color: green;"></div>

    <h1>Promocje</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Kod Promocyjny</th>
                <th>Zniżka (%)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody id="promocje-tabela">
        </tbody>
    </table>
</body>

</html>