<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Logowanie</title>
    <!-- Sprawdź, czy ścieżka do pliku CSS jest poprawna -->
    <link rel="stylesheet" href="/css/loginstyles.css">
</head>
<body>
    <div class="login-container">
        <h2>Administracja</h2>
        <form id="login-form">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Wprowadź email" required><br>

            <label for="password">Hasło:</label>
            <input type="password" id="password" placeholder="Wprowadź hasło" required><br>

            <button type="submit">Zaloguj</button>
        </form>

        <div id="error-message"></div>
        <p><a href="/logowanie">Zaloguj sie</a></p>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', async (e) => {
            e.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('http://localhost:3000/admin', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email, haslo: password })
                });

                const result = await response.json();

                if (response.ok) {
                    alert('Logowanie udane! Witamy, ' + result.user.imie);
                    window.location.href = '/admin_panel';
                } else {
                    document.getElementById('error-message').innerText = result.message;
                }
            } catch (err) {
                document.getElementById('error-message').innerText = 'Błąd serwera.';
                console.error(err);
            }
        });
    </script>
</body>
</html>
