<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje zamówienia</title>
    <link rel="stylesheet" href="/css/historiastyles.css">
    <script src="/js/historia.js" defer></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Sklep internetowy</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/sklep">Sklep</a></li>
                <li><a href="/konto">Moje konto</a></li>
                <li><a href="/historia">Historia</a></li>
                <li><a href="/" id="logout">Wyloguj</a></li>

            </ul>
        </nav>
    </header>


    <h1>Moje zamówienia</h1>
    <table>
        <thead>
            <tr>
                <th>Opis</th>
                <th>Suma</th>
                <th>Data</th>
                <th>Zatwierdzone</th>
            </tr>
        </thead>
        <tbody id="orders">
        </tbody>
    </table>
</body>

</html>