<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/css/signupstyles.css">
    <script src="/js/rejestracja.js" defer></script>
</head>
<body>
    <div class="signup-container">
        <h2>Rejestracja</h2>
        <form id="register-form">
            <label for="first-name">Imię:</label>
            <input type="text" id="first-name" placeholder="Wprowadź imię" required><br>

            <label for="last-name">Nazwisko:</label>
            <input type="text" id="last-name" placeholder="Wprowadź nazwisko" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Wprowadź email" required><br>

            <label for="password">Hasło:</label>
            <input type="password" id="password" placeholder="Wprowadź hasło" required><br>

            <button type="submit">Zarejestruj się</button>
        </form>

        <div id="error-message"></div>
        <div id="success-message"></div>

        <p>Masz już konto? <a href="/login">Zaloguj się</a></p>

    </div>
</body>
</html>
