<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep internetowy</title>
    <link rel="stylesheet" href="/css/sklepstyles.css">
    <script src="/js/sklep.js" defer></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Sklep internetowy</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Sklep</a></li>
                <li><a href="/konto">Moje konto</a></li>
                <li><a href="/historia">Historia</a></li>
                <li><a href="/" id="logout">Wyloguj</a></li>
                <li><a href="#" id="cart-button">Koszyk</a></li>

            </ul>
        </nav>
    </header>

    <div id="cart-panel">
        <button id="close-cart">X</button>
        <h3>Twoj koszyk</h3>
        <div id="cart-items">
        </div>
        <div id="promo-code-section">
            <h4>Wprowadz kod promocyjny</h4>
            <input type="text" id="promo-code" placeholder="Kod promocyjny">
            <button id="apply-promo">Zastosuj kod</button>
            <p id="promo-message" style="color: green;"></p>
        </div>
        <button id="checkout-button">Przejdz do platnosci</button>
    </div>

    <main>
        <div class="filters">
            <section class="filter-category">
                <h3>Filtruj wg kategorii</h3>
                <ul id="category-list">
                </ul>
            </section>
            <section class="filter-price">
                <h3>Filtruj wg ceny</h3>
                <label for="min-price">Min: </label>
                <input type="number" id="min-price" min="0" placeholder="0 zl">
                <br>
                <label for="max-price">Max: </label>
                <input type="number" id="max-price" min="0" placeholder="1000 zl">
            </section>

            <section class="filter-search">
                <h3>Wyszukaj produkty</h3>
                <input type="text" id="search" placeholder="Wyszukaj...">
            </section>

            <button id="apply-filters">Filtruj</button>
        </div>

        <div id="product-list" class="product-list"></div>
    </main>
</body>

</html>