/* adminstyles.css */

/* Resetowanie domyœlnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Nag³ówki sekcji */
h2 {
    font-size: 1.8rem;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Formularze */
form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #45a049;
    }

/* Tabele */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    table th,
    table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table th {
        background-color: #f4f4f4;
        font-size: 1.2rem;
    }

    table td button {
        background-color: #f44336;
        padding: 8px 15px;
        font-size: 0.9rem;
        border-radius: 4px;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        table td button:hover {
            background-color: #d32f2f;
        }

/* Wiadomoœci */
#response-message {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Tabela promocyjna */
#promocje-tabela td button {
    background-color: #2196F3;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

    #promocje-tabela td button:hover {
        background-color: #1976D2;
    }

/* Style dla responsywnoœci */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    table th, table td {
        font-size: 0.9rem;
    }

    form {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}

/* Styl dla przycisku w prawym górnym rogu */
.top-right-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .top-right-btn:hover {
        background-color: #45a049;
    }